* {
    margin: 0;
    padding: 0;
  }
  
  .header {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgb(0, 0, 0, 0.5);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
  }
  
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  button {
    padding: 10px 20px;
    background-color: rgb(235, 16, 59);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: rgb(196, 16, 49);
  }
  
  .language-switcher {
    display: flex;
    gap: 10px;
  }
  